@font-face {font-family: "Sega";
    src: url("//db.onlinewebfonts.com/t/b593a614952261da06c53a02d1954f44.eot");
    src: url("//db.onlinewebfonts.com/t/b593a614952261da06c53a02d1954f44.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/b593a614952261da06c53a02d1954f44.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/b593a614952261da06c53a02d1954f44.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/b593a614952261da06c53a02d1954f44.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/b593a614952261da06c53a02d1954f44.svg#SEGA LOGO FONT") format("svg");
}
h1 {
    font-family: 'Sega'!important;
    font-weight: 200;
    color: #0ccac4;
}